<p>
  ui-test-card works!
</p>
<p><mat-checkbox>Check me!</mat-checkbox></p>
<button mat-button>Click me!</button>
<mat-progress-bar mode="determinate" value="70"></mat-progress-bar>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<div class="my-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="my-box">20 <button mat-button>Click me!</button></div>
  <div class="my-box">10</div>
  <div class="my-box">30</div>
  <div class="my-box">---</div>
  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>

</div>

<app-test-saas></app-test-saas>

<!--

<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
-->
